.container{
    position: relative;
    top: 200px;
}
body{
    background-color:aqua;
}
button{
    margin: 8px;
    border-radius: 5px;
}
button:hover{
    background-color: gray;
    cursor: pointer;
    color: white;
}